/*estilo global*/
*{
box-sizing: border-box;    
border: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;

}
body{
  flex-direction: column;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(imagenes/inicio.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    scroll-margin-top: 55px;
}
h1 {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 0;
  margin-left: 15px;
  
}
h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 30px;
}
h3{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
    /*text-align: center;*/
}
p{
    font-size: 1.2em;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}
/* Estilos para las secciones de la página */

/*Inicio*/
.inicio{
    flex-direction: column;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(imagenes/inicio.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
/*Portfolio*/
.portfolio{
  flex-direction: column;
  /*background-color: rgb(159, 193, 230);*/
  color: rgb(24, 182, 74);
} 
/*Sobre Mi*/
.sobremi{
    flex-direction: column;
    background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  ) 
  ,url(imagenes/contacto2.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  }
.sobremi img{
  width:50vh;
  }

/*Servicios*/
.servicios h2{
  margin: 2px;
}
/*.servicios img{
  width:10vh;
  }*/
.col-lg-4{
  padding-bottom: 25px;
}
.bd-placeholder-img{
  background-color:rgb(14, 14, 14); 
  fill: rgb(251, 248, 248);
}


/*Contacto*/
.contacto{
    background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  ) 
  ,url(imagenes/contacto.jpg);
    background-size: cover;
    background-color: black;
    flex-direction: column;
}
.col-md-12{
  padding-bottom: 55px;
}

/*Pie de pagina*/
footer {
  /*background-color: transparent !important;*/
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
      );
  padding: 10px;
  width: 100%;
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social a{
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-color: rgb(128, 128, 142);
  margin: 20px;

}
.social a:hover{
  color: red;
}

/*navbar*/

/*.navbar{
  background-color: transparent !important;
  flex-direction: column;
  background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(imagenes/inicio.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

}*/

button{
  color:red;
}
button:hover{
  background-color:red;
} 

/* Estilos hover navbar */
.navbar .navbar-nav .nav-link:hover {
    color:red;
}

/*Offcanvas*/

/* Estilos offcanvas */
.offcanvas{
  color: white;
  background-color: black;
}
.offcanvas .navbar-nav .nav-link{
  color: #fff;
}
/* Estilos hover offcanvas */
.offcanvas .navbar-nav .nav-link:hover {
  color:red;
}
/*Estilo boton offcanvas*/
.offcanvas .offcanvas-header .btn-close{
  background-color: red;
}
/*carrusel*/
.carousel-control-prev:hover{
  background-color: transparent !important;
}
.carousel-control-next:hover{
  background-color: transparent !important;
}
.slide {
  margin-top: 10px;
}
.slide img{
height: 70vh;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    section {
      padding: 50px;
      flex-direction: column;
      }
      h1 {
        font-size: 1.2em;
      }
      
    h2 {
      font-size: 2.5em;
      }
    p {
      font-size: 1em;
    }
    .bd-placeholder-img {
      width: 70px;
      height: 70px;
    }
  }
/*@media only screen and (max-width: 480px) {
    section {
    max-height: 100%;
    display: flex;
    scroll-margin-top: 55px; 
   } 
    h1 {
      font-size: 1em;
    }
  }*/

  